@layer reset, defaults, components, utilities, overrides;

@import url("./vendor/_gardevoir.css") layer(reset.gardevoir);

/* Typefaces and typography */
@import url("./typography/chivo.css");
@import url("./typography/murecho.css");

:root {
	/* #fff */
	--white: lab(100% 0 0);
	--white-a70: color-mix(in lab, var(--white), transparent 30%);

	/* #000 */
	--black: lab(0% 0 0);
	--black-a30: color-mix(in lab, var(--black), transparent 30%);

	/* #f00 */
	--red: lab(54.9665% 94.0925 94.7699);
	--red-a40: color-mix(in lab, var(--red), transparent 60%);
	--red-a70: color-mix(in lab, var(--red), transparent 30%);

	/* #0ff */
	--cyan: lab(90.3688% -64.8187 -16.6055);
	--cyan-a40: color-mix(in lab, var(--cyan), transparent 60%);
	--cyan-a70: color-mix(in lab, var(--cyan), transparent 30%);

	/* #50649b */
	--san-marino: lab(43.04% 8.18 -32.31);
	--san-marino-a20: color-mix(in lab, var(--san-marino), transparent 80%);

	/* #7326d1 */
	--blueviolet: lab(36.121% 57.801 -74.589);

	/* #ff80ce */
	--magenta: lab(70.28% 57.24 -18.04);
	--magenta-a70: color-mix(in lab, var(--magenta), transparent 30%);
}

@layer defaults {
	*,
	*::before,
	*::after {
		box-sizing: border-box;
	}

	:where(:root) {
		font-family: Chivo, sans-serif;
		font-weight: 200;
		font-size: 16px;
	}

	::selection {
		background-color: var(--blueviolet);
	}

	html,
	body {
		margin: 0;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		text-transform: uppercase;
		opacity: 0.8;
		line-height: 1.1;
		letter-spacing: 0.04rem;
	}

	h1 {
		font-weight: 100;
		font-size: clamp(1.25rem, 1.25rem + 2vw, 2rem);
	}

	:is(h2, h3) {
		font-size: 0.8rem;
		margin-bottom: 0.75rem;
	}

	h2 {
		text-align: left;
	}
}

@layer components {
	img.background-image {
		position: fixed;
		top: 0;
		left: 0;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.page {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	}
}
