@layer reset, defaults, components, utilities,
	overrides;

@import url("vendor/gardevoir.css") layer(reset.gardevoir);

@layer defaults {
	html,
	body {
		font-family: Chivo, sans-serif;
		font-weight: 200;
		margin: 0;
		padding: 0;
		font-size: 100%;
	}

	::selection {
		background-color: #7225d3;
	}

	:is(h1, h2, h3, h4, h5, h6) {
		text-transform: uppercase;
		opacity: 0.8;
	}

	h1 {
		font-weight: 100;
		font-size: clamp(1.25rem, 1.25rem + 2vw, 2rem);
	}

	:is(h2, h3) {
		font-size: 0.8rem;
		margin-bottom: 0.75rem;
	}

	h2 {
		text-align: left;
	}
}

@layer components {
	img.background-image {
		background-attachment: scroll;
		position: fixed;
		object-fit: cover;
		height: 100%;
		width: 100%;
	}

	.cool-button {
		display: inline-block;
		width: 88px;
		height: 31px;
	}

	.chromatic-aberration {
		--dist: 0.05rem;
		--negdist: calc(-1 * var(--dist));

		border-color: rgb(255 255 255 / 70%);
		text-shadow:
			rgb(255 0 0 / 70%) var(--negdist) var(--negdist),
			rgb(0 255 255 / 70%) var(--dist) var(--dist);

		&:is(a) {
			border: 1px solid rgb(255 255 255 / 70%);
		}

		&:is(a, hr) {
			box-shadow:
				-1px -1px 0 rgb(255 0 0 / 40%),
				1px 1px 0 rgb(0 255 255 / 40%);
			color: white;
		}
	}

	.navigation {
		padding: 1rem;
		min-height: 100vh;
		color: white;
		background: linear-gradient(to right, rgb(0 0 0), rgb(0 0 0 / 30%)),
			rgb(80 100 155 / 20%);
		text-align: center;
		opacity: 0.8;
	}

	hr {
		border: none;
		border-top: 1px solid white;
		margin-bottom: 1rem;
		opacity: 0.6;
		width: 100%;
	}

	.page {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
	}

	.link-grid {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(82px, 1fr));
		grid-gap: 0.75rem;
		margin-bottom: 1rem;
		width: calc(100% - 2rem);

		& a {
			font-size: clamp(0.75rem, 0.75rem + 2vw, 1rem);
			text-align: center;
			display: inline-block;
			padding: 0.25rem 0;
			text-decoration: none;
			transition:
				color 0.5s,
				border-color 0.5s;

			&:hover {
				border-color: rgb(255 128 206 / 70%);
				color: rgba(255 128 206 / 70%);
			}
		}
	}
}
